@media only screen and (max-width: 1200px) {
    .main-heading{
        width: 56%;
    }
}
@media only screen and (max-width: 992px) {
    .main-heading{
        width: 76%;
    }
}
@media only screen and (max-width: 768px) {
    .main-heading{
        width: 100%;
    }
}
.form-control:focus {
    border-color: #000000 !important;
    box-shadow: none !important;
}